.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    color: hsl(225, 20%, 60%);
}

.bgPattern {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -10;
}

/***** TITLE *****/

/***** END TITLE *****/
.title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 145px;
}
.title h2 {
    text-align: center;
    margin: 0;
    color: hsl(227, 35%, 25%)
}
.title p {
    text-align: center;
    margin: 0;
}
.patternCircles {
    position: absolute;
    left: 33%;
    z-index: -1;
}

/***** TOOGLE *****/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(223, 50%, 87%);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: hsl(223, 50%, 87%);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px hsl(223, 50%, 87%);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/***** END TOOGLE *****/


/***** YEARLY DISCOUNT *****/
.yearlyDiscount {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.discountAll {
    background-color: hsl(14, 92%, 95%);
    color: hsl(15, 100%, 70%);
    border-radius: 150px;
    padding: 2px 5px;
}
.discountWord {
    display: none;
}

/***** END YEARLY DISCOUNT *****/

/***** PAGEVIEWS *****/
.priceSlider {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bold {
    font-weight: 800;
    color: hsl(227, 35%, 25%);
    font-size: larger;
}
/***** END PAGEVIEWS*****/

/***** BENEFITS *****/
.benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.benefitsAndButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid hsl(224, 65%, 95%);;
}
.submit {
    font-family: 'Manrope', sans-serif;;
    background-color: hsl(227, 35%, 25%);
    color: hsl(226, 100%, 87%) ;
    border: none;
    padding: 15px 50px;
    border-radius: 30px;
    margin: 20px;
}

/***** END BENEFITS *****/

/***** WHITE BOX*****/
.whiteBox {
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 13px 10px 182px -70px hsl(225, 20%, 60%);
    -moz-box-shadow: 13px 10px 182px -70px hsl(225, 20%, 60%);
    box-shadow: 13px 10px 182px -70px hsl(225, 20%, 60%);
    width: 95%;
}
/***** END WHITE BOX*****/

/***** *****/

@media (min-width: 1000px) {
    .benefitsAndButton {
        flex-direction: row;
    }
    #priceRange {
        order: 2;
        width: 80%;
    }
    .priceSlider {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    .yearlyDiscount {
        justify-content: center;
    }
    .whiteBox {
        width: 50%;
    }
}